!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Amber Aultman"
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css", rel: "stylesheet"}/
    = stylesheet_link_tag "site"
    %script{src: "https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js", type: "module"}
    %script{nomodule: "", src: "https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"}
  %body
    = yield
    = partial "partials/footer"
  %script{src: "https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js"}
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"}
  = javascript_include_tag "site"
  / Global site tag (gtag.js) - Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-72119071-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-72119071-1');