%footer
    .links
        .left
            = link_to 'Email', 'mailto:amber.aultman@gmail.com', :target => "_blank", :class => "button-tertiary"
            = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
            = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
            = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
            = link_to 'GoodReads', 'https://www.goodreads.com/user/show/54905785-amber-aultman', :target => "_blank", :class => "button-tertiary"
        .right
            = link_to '#top', :onclick => "smoothScroll()", :class => "button-tertiary scroll" do
                %ion-icon{:name => "arrow-up-outline"}
                Back to top
    .bottom
        %p.small Designed and coded by Amber Aultman.