.more-work
    %section
        %h2.s2 More work
        = link_to '', :class => "previous no-button" do
            %ion-icon{:name => "arrow-back-outline"}
            .card-wrapper
                .card-details
                    %p.card-title
                        %strong A new PDP template
                    %p.small Tuft & Needle / 2019
                %img{:src => "https://via.placeholder.com/120x120"}
        = link_to '', :class => "next no-button" do
            .card-wrapper
                %img{:src => "https://via.placeholder.com/120x120"}
                .card-details
                    %p.card-title
                        %strong A new PDP template here with a longer name
                    %p.small Tuft & Needle / 2019
            %ion-icon{:name => "arrow-forward-outline"}


// See Middleman tutorial on partials

= partial(:paypal_donate_button, :locals => { :amount => 1, :amount_text => "Pay $1" })
= partial(:paypal_donate_button, :locals => { :amount => 2, :amount_text => "Pay $2" })

%form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
  %input{name: "amount", type: "hidden", value: "#{amount}.00"}/
  %input{type: "submit", value: amount_text}/