---
title: All work
---

%header.all
    = partial "partials/nav"

    %section.hero
        %h1.s1 Work

%main
    %section.all
        .card-container
            .card-wrapper
                = link_to 'work/cro', :class => "card" do
                    %img{:srcset => "../images/home-cro-400.jpg 400w, ../images/home-cro-600.jpg 600w, ../images/home-cro-800.jpg 800w, ../images/home-cro-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-cro-600.jpg", :alt => "A graph of the expected vs. actual revenue from CRO tests"}
                    .card-details
                        %h3.s5 A new direct-to-consumer priority for Serta
                        %p Tuft &amp; Needle / 2019
            .card-wrapper
                = link_to 'work/tn-rebrand', :class => "card" do
                    %img{:srcset => "../images/home-tnbrand-400.jpg 400w, ../images/home-tnbrand-600.jpg 600w, ../images/home-tnbrand-800.jpg 800w, ../images/home-tnbrand-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-tnbrand-600.jpg", :alt => "Team members sit in a circle to kickoff the brand refresh workshop."}
                    .card-details
                        %h3.s5 Workshop &amp; refresh: the T&amp;N brand
                        %p Tuft &amp; Needle / 2017&ndash;2018
            .card-wrapper
                = link_to 'work/pdp-sandwich', :class => "card" do
                    %img{:srcset => "../images/home-sandwich-400.jpg 400w, ../images/home-sandwich-600.jpg 600w, ../images/home-sandwich-800.jpg 800w, ../images/home-sandwich-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-sandwich-600.jpg", :alt => "Part of the T&N Original Mattress product page special sauce section"}
                    .card-details
                        %h3.s5 I’ll take my product page with mayo, please
                        %p Tuft &amp; Needle / 2019
            .card-wrapper
                = link_to 'work/cxtxmx', :class => "card" do
                    %img{:srcset => "../images/home-cxtxmx-400.jpg 400w, ../images/home-cxtxmx-600.jpg 600w, ../images/home-cxtxmx-800.jpg 800w, ../images/home-cxtxmx-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-cxtxmx-600.jpg", :alt => "A color gradient over a photo of a taco."}
                    .card-details
                        %h3.s5 Overhauling our CX admin app
                        %p Tuft &amp; Needle / 2016
            .card-wrapper
                = link_to 'work/configurator', :class => "card" do
                    %img{:srcset => "../images/home-configurator-400.jpg 400w, ../images/home-configurator-600.jpg 600w, ../images/home-configurator-800.jpg 800w, ../images/home-configurator-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-configurator-600.jpg", :alt => "One of the early sketches for a better product page"}
                    .card-details
                        %h3.s5 Minimizing decision fatigue on product pages
                        %p Tuft &amp; Needle / 2018
            .card-wrapper
                = link_to 'work/ibm', :class => "card" do
                    %img{:srcset => "../images/home-ibm-400.jpg 400w, ../images/home-ibm-600.jpg 600w, ../images/home-ibm-800.jpg 800w, ../images/home-ibm-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ibm-600.jpg", :alt => "A wall full of sticky notes from an ideation session."}
                    .card-details
                        %h3.s5 A better experience for IBM alumni
                        %p Ignite by Adecco / 2015
            .card-wrapper
                = link_to 'work/wayfind', :class => "card" do
                    %img{:srcset => "../images/home-wayfind-400.jpg 400w, ../images/home-wayfind-600.jpg 600w, ../images/home-wayfind-800.jpg 800w, ../images/home-wayfind-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-wayfind-600.jpg", :alt => "An illustration of two characters looking up at the stars. The Wayfind logo sits in the sky."}
                    .card-details
                        %h3.s5 Wayfind: building a career-pathing app
                        %p Ignite by Adecco / 2015
            .card-wrapper
                = link_to 'work/catalyst', :class => "card" do
                    %img{:srcset => "../images/home-catalyst-400.jpg 400w, ../images/home-catalyst-600.jpg 600w, ../images/home-catalyst-800.jpg 800w, ../images/home-catalyst-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-catalyst-600.jpg", :alt => "Workshop participants rush to the whiteboard for an ideation exercise."}
                    .card-details
                        %h3.s5 Inspiring change with design thinking workshops
                        %p Ignite by Adecco / 2014