---
title: Hey, I'm Amber Aultman
---

%header
    %nav.home#top
    %section.intro
        %h1.s1
            Hi,
            %br
            I'm Amber.
        %button{:onclick => "showHide()", :class => "no-button"}
            I lead strategy and teams to build meaningful, digital interactions.
            %ion-icon{:name => "chevron-down-outline", :id => "arrow"}
    %section#about
        .wrapper
            %img{:src => "https://via.placeholder.com/600x600"}
            %article
                .bio
                    %p.large
                        I’m Amber Aultman, a design leader currently living in Phoenix, AZ. I’m the Head of Design at
                        = link_to 'Tuft & Needle', 'https://www.tuftandneedle.com/', :target => "_blank"
                        where I'm responsible for the visual experience of our brand: everything from product packaging and retail signage to our internal apps, e-commerce platform, and other digital channels. I’m crazy passionate about mentoring my team and making sure the customer experience stays paramount as we transistion through a merger. I’m also the past President of
                        = link_to 'AIGA Jacksonville', 'https://jacksonville.aiga.org/', :target => "_blank"
                        and a former teacher at
                        = link_to 'Bloc.io.', 'https://www.bloc.io/', :target => "_blank"
                    %p.large
                        I’m currently accepting speaking and workshop facilitation engagements both locally and abroad.
                    = link_to 'Get in touch', 'mailto:amber.aultman@gmail.com', :class => "button-primary"
                .links
                    = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Email', 'mailto:amber.aultman@gmail.com', :class => "button-tertiary"
                %button.close.no-button
                    %ion-icon{:name => "close-outline", :onclick => "showHide()"}

%main.home

    %section.work
        %header
            %h2.s2 Work
            .controls-work
                %button.no-button
                    %ion-icon{:name => "arrow-back-outline"}
                %button.no-button
                    %ion-icon{:name => "arrow-forward-outline"}
        .card-container#slider-work
            .card-wrapper
                = link_to 'work/serta', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 A new PDP template
                        %p Tuft & Needle / 2019
            .card-wrapper
                = link_to '', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 Bringing Ecomm to Beautyrest
                        %p Tuft & Needle / 2018
            .card-wrapper
                = link_to '', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 A new DTC priority for Serta and iComfort
                        %p Tuft & Needle
            .card-wrapper
                = link_to '', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 A new PDP template
                        %p Tuft & Needle
            .card-wrapper
                = link_to '', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 Bringing Ecomm to Beautyrest
                        %p Tuft & Needle
            .card-wrapper
                = link_to '', :class => "card" do
                    %img{:src => "https://via.placeholder.com/600x600"}
                    .card-details
                        %h3.s5 A new DTC priority for Serta and iComfort
                        %p Tuft & Needle

    %section.writing
        %h2.s2 Writing
        %ul
            = link_to 'https://medium.com/swlh/performance-reviews-the-good-the-bad-and-what-you-can-do-about-them-2a30198cf353', :target => "_blank" do
                %li.s5
                    Performance reviews: the good, the bad, and what you can do about them
                    %ion-icon{:name => "open-outline"}
            = link_to 'https://medium.com/@amberaultman/self-learning-make-your-own-path-ba75cf7fd212', :target => "_blank" do
                %li.s5
                    Self-Learning: make your own path
                    %ion-icon{:name => "open-outline"}
            = link_to 'https://medium.com/swlh/performance-reviews-the-good-the-bad-and-what-you-can-do-about-them-2a30198cf353', :target => "_blank" do
                %li.s5
                    Performance reviews: the good, the bad, and what you can do about them
                    %ion-icon{:name => "open-outline"}
            = link_to 'https://medium.com/@amberaultman/self-learning-make-your-own-path-ba75cf7fd212', :target => "_blank" do
                %li.s5
                    Self-Learning: make your own path
                    %ion-icon{:name => "open-outline"}

    %section.speaking
        %h2.s2 Speaking
        %ul
            = link_to 'https://creativemornings.com/talks/amber-aultman-2/1', :target => "_blank" do
                %li.s5
                    Self Learning and the Importance of Commitment / Creative Mornings / Phoenix, AZ / 2018
                    %ion-icon{:name => "open-outline"}
            %li.s5 SXSW Design Mentor / SXSW / Austin, TX / 2018
            %li.s5 How to not suck at self-learning / AIGA / Gainesville, FL / 2017
            %li.s5 Let's Get Digital / AIGA / Jacksonville, FL / 2016
            %li.s5 Human Centered Design for Entreprenuers / Innovation Summit / Jacksonville, FL / 2016
            %li.s5.last Let's Get Digital / AIGA / Jacksonville, FL / 2015

    %section.experiences
        %header
            %h2.s2 Experiences
            .controls-experience
                %button.no-button
                    %ion-icon{:name => "arrow-back-outline"}
                %button.no-button
                    %ion-icon{:name => "arrow-forward-outline"}
        .card-container#slider-experience
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:src => "https://via.placeholder.com/600x600"}

    %section.thanks
        %hr
        %h2.s2 Thanks for visiting.


%footer
    .links
        .left
            = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
            = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
            = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
            = link_to 'Email', 'mailto:amber.aultman@gmail.com', :target => "_blank", :class => "button-tertiary"
        .right
            = link_to '#top', :onclick => "smoothScroll()", :class => "button-tertiary scroll" do
                %ion-icon{:name => "arrow-up-outline"}
                Back to top
    .bottom
        %p.small Designed and coded by Amber Aultman.
