---
title: Hey, I'm Amber Aultman
---

%header
    %nav.home
    %section.intro
        %h1 
            Hey, 
            %br
            I'm Amber.
        %p I lead strategy and teams to build meaningful, digital interactions.
    %section.about
        %img{:src => "https://via.placeholder.com/600x600"}
        %article
            .bio
                %p.large 
                    I’m Amber Aultman, a design leader currently living in Phoenix, AZ. I’m the Head of Design at 
                    = link_to 'Tuft & Needle', 'https://www.tuftandneedle.com/', :target => "_blank"
                    where I'm responsible for the visual experience of our brand: everything from product packaging and retail signage to our internal apps, e-commerce platform, and other digital channels. I’m crazy passionate about mentoring my team and making sure the customer experience stays paramount as we transistion through a merger. I’m also the past President of 
                    = link_to 'AIGA Jacksonville', 'https://jacksonville.aiga.org/', :target => "_blank"
                    and a former teacher at 
                    = link_to 'Bloc.io.', 'https://www.bloc.io/', :target => "_blank"
                %p.large
                    I’m currently accepting speaking and workshop facilitation engagements both locally and abroad. 
                = link_to 'Get in touch', 'mailto:amber.aultman@gmail.com', :class => "button-primary"
            .links
                = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
                = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
                = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
                = link_to 'Email', 'mailto:amber.aultman@gmail.com', :class => "button-tertiary"
            .close
                %p Close

%main.home

    %section.work
        %h3 Work
        .controls
        .card-container
            = link_to '', :class => "card" do
                %img{:src => "https://via.placeholder.com/600x600"}
                .card-details
                    %h5 A new PDP template
                    %p.small Tuft & Needle
            = link_to '', :class => "card" do
                %img{:src => "https://via.placeholder.com/600x600"}
                .card-details
                    %h5 Bringing Ecomm to Beautyrest
                    %p.small Tuft & Needle
            = link_to '', :class => "card" do
                %img{:src => "https://via.placeholder.com/600x600"}
                .card-details
                    %h5 A new DTC priority for Serta and iComfort
                    %p.small Tuft & Needle

    %section.writing
        %h3 Writing
        %h5 A is for Astronaut
        %h5 A is for Astronaut
        %h5 A is for Astronaut
        %h5 A is for Astronaut

    %section.speaking
        %h3 Speaking
        %h5 SXSW Design Mentor
        %h5 SXSW Design Mentor
        %h5 SXSW Design Mentor
        %h5 SXSW Design Mentor
        %h5 SXSW Design Mentor
        %h5 SXSW Design Mentor

    %section.experiences
        %h3 Experiences
        .controls
        .card-container
            .card-experience
                %figcaption
                    %time 2017 &mdash; JUL 22
                    %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                %img{:src => "https://via.placeholder.com/600x600"}
            .card-experience
                %figcaption
                    %time 2017 &mdash; JUL 22
                    %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                %img{:src => "https://via.placeholder.com/600x600"}
            .card-experience
                %figcaption
                    %time 2017 &mdash; JUL 22
                    %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                %img{:src => "https://via.placeholder.com/600x600"}

    %section.thanks
        .divider
        %h3 Thanks for visiting.
        

%footer
    .links
        = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
        = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
        = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
        = link_to 'Email', 'mailto:amber.aultman@gmail.com', :target => "_blank", :class => "button-tertiary"
    .bottom
        %p.small Designed and coded by Amber Aultman
        %p.small Copyright 2020. All rights reserved.