---
title: Hey, I'm Amber Aultman
---

%header
    %nav.home#top
    %section.intro
        %h1.s1
            Hi,
            %br
            I'm Amber.
        %button{:onclick => "showHide()", :class => "no-button"}
            I lead strategy and teams to build meaningful, digital interactions.
            %ion-icon{:name => "chevron-down-outline", :id => "arrow"}
    %section#about
        .wrapper
            %img{:srcset => "../images/home-about-500.jpg 500w, ../images/home-about-1000.jpg 1000w, ../images/home-about-1300.jpg 1300w, ../images/home-about-2600.jpg 2600w", :sizes => "(max-width: 768px) 100vw, 50vw", :src => "../images/home-about-1300.jpg", :alt => "Me, speaking in front of a room full of people at Creative Mornings PHX."}
            %article
                .bio
                    %p.medium
                        I’m Amber Aultman, a design leader currently living in Phoenix, AZ. I’m the Head of Design at
                        = link_to 'Tuft & Needle', 'https://www.tuftandneedle.com/', :target => "_blank"
                        where I'm responsible for the visual experience of our brand: everything from product packaging and retail signage to our internal apps, e-commerce platform, and other digital channels. I’m crazy passionate about mentoring my team and making sure the customer experience stays paramount as we transistion through a merger. I’m also the past President of
                        = link_to 'AIGA Jacksonville', 'https://jacksonville.aiga.org/', :target => "_blank"
                        and a former teacher at
                        = link_to 'Bloc.io.', 'https://www.bloc.io/', :target => "_blank"
                    %p.medium
                        I’m currently accepting speaking and workshop facilitation engagements both locally and abroad.
                    = link_to 'Get in touch', 'mailto:amber.aultman@gmail.com', :class => "button-primary"
                .links
                    = link_to 'LinkedIn', 'https://www.linkedin.com/in/amberaultman/', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Medium', 'https://medium.com/@amberaultman', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Github', 'https://github.com/amberaultman', :target => "_blank", :class => "button-tertiary"
                    = link_to 'Email', 'mailto:amber.aultman@gmail.com', :class => "button-tertiary"
                %button.close.no-button
                    %ion-icon{:name => "close-outline", :onclick => "showHide()"}

%main.home

    %section.work
        %header
            %h2.s2 Work
            .controls-work
                %button.no-button
                    %ion-icon{:name => "arrow-back-outline"}
                %button.no-button
                    %ion-icon{:name => "arrow-forward-outline"}
        .card-container#slider-work
            .card-wrapper
                = link_to 'work/serta', :class => "card" do
                    %img{:srcset => "../images/home-serta-400.jpg 400w, ../images/home-serta-600.jpg 600w, ../images/home-serta-800.jpg 800w, ../images/home-serta-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-serta-600.jpg", :alt => "A man and woman drinking wine on an iComfort mattress in a bedroom"}
                    .card-details
                        %h3.s5 A new direct-to-consumer priority for Serta
                        %p Tuft & Needle / 2019
            .card-wrapper
                = link_to 'work/tn-rebrand', :class => "card" do
                    %img{:srcset => "../images/home-tnbrand-400.jpg 400w, ../images/home-tnbrand-600.jpg 600w, ../images/home-tnbrand-800.jpg 800w, ../images/home-tnbrand-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-tnbrand-600.jpg", :alt => "Team members sit in a circle to kickoff the brand refresh workshop"}
                    .card-details
                        %h3.s5 Workshop & refresh: the T&N brand
                        %p Tuft & Needle / 2017&ndash;2018
            .card-wrapper
                = link_to 'work/pdp-sandwich', :class => "card" do
                    %img{:srcset => "../images/home-sandwich-400.jpg 400w, ../images/home-sandwich-600.jpg 600w, ../images/home-sandwich-800.jpg 800w, ../images/home-sandwich-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-sandwich-600.jpg", :alt => "Part of the T&amp;N Original Mattress product page special sauce section"}
                    .card-details
                        %h3.s5 I’ll take my product page with mayo, please
                        %p Tuft & Needle / 2019
            .card-wrapper
                = link_to 'work/configurator', :class => "card" do
                    %img{:srcset => "../images/home-configurator-400.jpg 400w, ../images/home-configurator-600.jpg 600w, ../images/home-configurator-800.jpg 800w, ../images/home-configurator-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-configurator-600.jpg", :alt => "One of the early sketches for a better product page"}
                    .card-details
                        %h3.s5 Minimizing decision fatigue on product pages
                        %p Tuft & Needle / 2018
            .card-wrapper
                = link_to 'work/ibm', :class => "card" do
                    %img{:srcset => "../images/home-ibm-400.jpg 400w, ../images/home-ibm-600.jpg 600w, ../images/home-ibm-800.jpg 800w, ../images/home-ibm-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ibm-600.jpg", :alt => "An illustration of two characters looking up at the stars. The ibm logo sits in the sky."}
                    .card-details
                        %h3.s5 A better experience for IBM alumni
                        %p Ignite by Adecco / 2015
            .card-wrapper
                = link_to 'work/wayfind', :class => "card" do
                    %img{:srcset => "../images/home-wayfind-400.jpg 400w, ../images/home-wayfind-600.jpg 600w, ../images/home-wayfind-800.jpg 800w, ../images/home-wayfind-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-wayfind-600.jpg", :alt => "An illustration of two characters looking up at the stars. The Wayfind logo sits in the sky."}
                    .card-details
                        %h3.s5 Wayfind: building a career-pathing app
                        %p Ignite by Adecco / 2015
            .card-wrapper
                = link_to 'work/catalyst', :class => "card" do
                    %img{:srcset => "../images/home-catalyst-400.jpg 400w, ../images/home-catalyst-600.jpg 600w, ../images/home-catalyst-800.jpg 800w, ../images/home-catalyst-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-catalyst-600.jpg", :alt => "Workshop participants rush to the whiteboard for an ideation exercise."}
                    .card-details
                        %h3.s5 Inspiring change with design thinking workshops
                        %p Ignite by Adecco / 2014
        %footer
            = link_to 'View all', 'all-work', :class => "button-tertiary"

    %section.writing
        %h2.s2 Writing
        %ul
            = link_to 'https://medium.com/swlh/performance-reviews-the-good-the-bad-and-what-you-can-do-about-them-2a30198cf353', :target => "_blank" do
                %li.large
                    Performance reviews: the good, the bad, and what you can do about them
                    %ion-icon{:name => "open-outline"}
            = link_to 'https://medium.com/@amberaultman/self-learning-make-your-own-path-ba75cf7fd212', :target => "_blank" do
                %li.large
                    Self-Learning: make your own path
                    %ion-icon{:name => "open-outline"}


    %section.speaking
        %h2.s2 Speaking
        %ul
            = link_to 'https://creativemornings.com/talks/amber-aultman-2/1', :target => "_blank" do
                %li.large
                    Self Learning and the Importance of Commitment / Creative Mornings / Phoenix, AZ / 2018
                    %ion-icon{:name => "open-outline"}
            %li.large SXSW Design Mentor / SXSW / Austin, TX / 2018
            %li.large How to not suck at self-learning / AIGA / Gainesville, FL / 2017
            %li.large Let's Get Digital / AIGA / Jacksonville, FL / 2016
            %li.large Human Centered Design for Entreprenuers / Innovation Summit / Jacksonville, FL / 2016
            %li.large.last Let's Get Digital / AIGA / Jacksonville, FL / 2015

    %section.experiences
        %header
            %h2.s2 Experiences
            .controls-experience
                %button.no-button
                    %ion-icon{:name => "arrow-back-outline"}
                %button.no-button
                    %ion-icon{:name => "arrow-forward-outline"}
        .card-container#slider-experience
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2020 &mdash; FEB
                        %p I led a 2-day ideation session for a cross-functional team at T&amp;N. I love using this sketching exercise to break the ice and make a point about building on others' ideas. 
                    %img{:srcset => "../images/home-ex-2002-3-400.jpg 400w, ../images/home-ex-2002-3-600.jpg 600w, ../images/home-ex-2002-3-900.jpg 900w, ../images/home-ex-2002-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-3-600.jpg", :alt => "Four sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2020 &mdash; FEB
                        %p I love mentoring my team and watching them grow. Meaghan, one of my younger designers, did a great job brainstorming and presenting in the fast-paced workshop.
                    %img{:srcset => "../images/home-ex-2002-2-400.jpg 400w, ../images/home-ex-2002-2-600.jpg 600w, ../images/home-ex-2002-2-900.jpg 900w, ../images/home-ex-2002-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-2-600.jpg", :alt => "A young designer shares her brainstorming concepts to a room full of colleagues."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2020 &mdash; FEB
                        %p Behind the scenes at our last studio shoot before COVID. Art direction for photoshoots is something that I've only started doing in the last 2 years, but I really enjoy it. 
                    %img{:srcset => "../images/home-ex-2002-1-400.jpg 400w, ../images/home-ex-2002-1-600.jpg 600w, ../images/home-ex-2002-1-900.jpg 900w, ../images/home-ex-2002-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-1-600.jpg", :alt => "A mattress and bed frame sits on a cyclorama on top of yellow seamless paper."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; DEC
                        %p Every December we do a design team retreat. It's a time for strengthening bonds, building memories, and retroing the past year and making plans for the next.
                    %img{:srcset => "../images/home-ex-1912-3-400.jpg 400w, ../images/home-ex-1912-3-600.jpg 600w, ../images/home-ex-1912-3-900.jpg 900w, ../images/home-ex-1912-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-3-600.jpg", :alt => "The designers stand in a snowy field for a team picture."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; DEC
                        %p "Start, stop, continue" is one of the my favorite ways to relect on a past project or time period and talk about ways we can grow and be better moving forward. 
                    %img{:srcset => "../images/home-ex-1912-2-400.jpg 400w, ../images/home-ex-1912-2-600.jpg 600w, ../images/home-ex-1912-2-900.jpg 900w, ../images/home-ex-1912-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-2-600.jpg", :alt => "The team stands in a circle discussing post-it notes on the wall."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; DEC
                        %p Each year Tuft &amp; Needle throws a holiday dinner event. It's a great time for the whole team &mdash; which is spread out actoss the country &mdash; to come together and celebrate.
                    %img{:srcset => "../images/home-ex-1912-1-400.jpg 400w, ../images/home-ex-1912-1-600.jpg 600w, ../images/home-ex-1912-1-900.jpg 900w, ../images/home-ex-1912-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-1-600.jpg", :alt => "Photobooth shot of the design team all looking off to the left, except our project manager who stares the camera down over her wine."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; NOV
                        %p It was fun getting to lead the creative direction for Serta's new photoshoot. Here the Head of Brand for Serta Simmons Bedding and I celebrate wrapping the shoot with some champagne. 
                    %img{:srcset => "../images/home-ex-1911-2-400.jpg 400w, ../images/home-ex-1911-2-600.jpg 600w, ../images/home-ex-1911-2-900.jpg 900w, ../images/home-ex-1911-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1911-2-600.jpg", :alt => "Matt and I stand in the kitchen of our shoot location smiling with our champagne."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; NOV
                        %p I loved getting to work with Neal Brennan for our 2019 end of year campaign. This was my first time working with 72&amp;Sunny and I really enjoyed learning from such an accomplished agency.
                    %img{:srcset => "../images/home-ex-1911-1-400.jpg 400w, ../images/home-ex-1911-1-600.jpg 600w, ../images/home-ex-1911-1-900.jpg 900w, ../images/home-ex-1911-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1911-1-600.jpg", :alt => "Neal, a famous comedian, sits in bed on set for our end of year video campaign."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; OCT
                        %p My favorite moment at the office on Halloween was when I happened to walk by a coworker on a video call. It looked like she was having a serious conversation with the baby doll next to her. 
                    %img{:srcset => "../images/home-ex-1910-2-400.jpg 400w, ../images/home-ex-1910-2-600.jpg 600w, ../images/home-ex-1910-2-900.jpg 900w, ../images/home-ex-1910-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1910-2-600.jpg", :alt => "A coworker and creepy baby doll sit in a meeting room looking like they are having a normal conversation."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; OCT
                        %p A mini-ideation session to flesh out the content for a new campaign. I'm a firm believer that multidisciplinary collaboration always produces the best work.
                    %img{:srcset => "../images/home-ex-1910-1-400.jpg 400w, ../images/home-ex-1910-1-600.jpg 600w, ../images/home-ex-1910-1-900.jpg 900w, ../images/home-ex-1910-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1910-1-600.jpg", :alt => "Two people at a white board ideate on a new campaign."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; SEP
                        %p Bonding with teammates in nature is one of my favorite things to do. T&amp;N makes this happen each year at the company retreat.
                    %img{:srcset => "../images/home-ex-1909-400.jpg 400w, ../images/home-ex-1909-600.jpg 600w, ../images/home-ex-1909-900.jpg 900w, ../images/home-ex-1909-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1909-600.jpg", :alt => "Climbing down a boulder in Zion National Park."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; AUG
                        %p A zombie on set for our Halloween campaign. 
                    %img{:srcset => "../images/home-ex-1908-400.jpg 400w, ../images/home-ex-1908-600.jpg 600w, ../images/home-ex-1908-900.jpg 900w, ../images/home-ex-1908-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1908-600.jpg", :alt => "A man stands in zombie makeup on set."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; MAY
                        %p While we were in New York for a lifestyle shoot, I took the opportunity to pull together some other team members who work remotely from the city.
                    %img{:srcset => "../images/home-ex-1905-3-400.jpg 400w, ../images/home-ex-1905-3-600.jpg 600w, ../images/home-ex-1905-3-900.jpg 900w, ../images/home-ex-1905-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-3-600.jpg", :alt => "Teammates get together for some drinks in an art deco alcove."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; MAY
                        %p A design team dinner while in New York for the 99U Conference.
                    %img{:srcset => "../images/home-ex-1905-2-400.jpg 400w, ../images/home-ex-1905-2-600.jpg 600w, ../images/home-ex-1905-2-900.jpg 900w, ../images/home-ex-1905-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-2-600.jpg", :alt => "The design team sitting around a table at a restaurant."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; MAY
                        %p As a way to bring more collaboration between the design, product, architecture, and writing teams, I created a monthly All-Creatives Show and Tell. This is a screenshot from our first Zoom call.
                    %img{:srcset => "../images/home-ex-1905-1-400.jpg 400w, ../images/home-ex-1905-1-600.jpg 600w, ../images/home-ex-1905-1-900.jpg 900w, ../images/home-ex-1905-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-1-600.jpg", :alt => "The whole creative team sits around a table for a Zoom call."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; APR
                        %p The creative team at our annual Spring Dinner. Love these people so much!
                    %img{:srcset => "../images/home-ex-1904-400.jpg 400w, ../images/home-ex-1904-600.jpg 600w, ../images/home-ex-1904-900.jpg 900w, ../images/home-ex-1904-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1904-600.jpg", :alt => "The team poses for a photo with suspended foam cubes and an umbrella."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; MAR
                        %p I was honored to get to be a design mentor at SXSW this year. I loved getting to explore all the experiences and talks at the festival. 
                    %img{:srcset => "../images/home-ex-1903-2-400.jpg 400w, ../images/home-ex-1903-2-600.jpg 600w, ../images/home-ex-1903-2-900.jpg 900w, ../images/home-ex-1903-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1903-2-600.jpg", :alt => "Me, sitting in a pink bathtub at an installation at SXSW."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2019 &mdash; MAR
                        %p Ran into an old AIGA friend at SXSW. The connections I've made through that organization have given me and my career so much!
                    %img{:srcset => "../images/home-ex-1903-1-400.jpg 400w, ../images/home-ex-1903-1-600.jpg 600w, ../images/home-ex-1903-1-900.jpg 900w, ../images/home-ex-1903-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1903-1-600.jpg", :alt => "My friend and I having a beer backstage at SXSW."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; DEC
                        %p Love getting to spend time with my team at our annual design retreat.
                    %img{:srcset => "../images/home-ex-1812-400.jpg 400w, ../images/home-ex-1812-600.jpg 600w, ../images/home-ex-1812-900.jpg 900w, ../images/home-ex-1812-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1812-600.jpg", :alt => "A designer sits blindfolded assembling a pen."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; NOV
                        %p It was awesome getting to visit the Google Mountain View campus with the Tuft &amp; Needle leadership team.
                    %img{:srcset => "../images/home-ex-1811-400.jpg 400w, ../images/home-ex-1811-600.jpg 600w, ../images/home-ex-1811-900.jpg 900w, ../images/home-ex-1811-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1811-600.jpg", :alt => "The team stands in the entryway of the Google Partnerplex."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; OCT
                        %p Another amazing R&amp;R on the books! I love getting to explore nature and hang with the team.
                    %img{:srcset => "../images/home-ex-1810-400.jpg 400w, ../images/home-ex-1810-600.jpg 600w, ../images/home-ex-1810-900.jpg 900w, ../images/home-ex-1810-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1810-600.jpg", :alt => "The team stands in front a jeep about to go canyoneering for the first time."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; SEP
                        %p I adore getting to work with such amazing women! At the end of each lifestyle shoot, we grab a customary photo on set. 
                    %img{:srcset => "../images/home-ex-1809-400.jpg 400w, ../images/home-ex-1809-600.jpg 600w, ../images/home-ex-1809-900.jpg 900w, ../images/home-ex-1809-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1809-600.jpg", :alt => "My producers and I sit for a photo at the end of another lifestyle shoot."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; MAY
                        %p I loved getting to the take the team to Awwwards Conf in San Fracisco. Such great learning and inspiration.
                    %img{:srcset => "../images/home-ex-1805-2-400.jpg 400w, ../images/home-ex-1805-2-600.jpg 600w, ../images/home-ex-1805-2-900.jpg 900w, ../images/home-ex-1805-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1805-2-600.jpg", :alt => "3 musicians sit on stage playing music for the opening of the conference."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; MAY
                        %p While in San Francisco, I made sure to meet up with my old coworkers and introduce them to my new team.
                    %img{:srcset => "../images/home-ex-1805-1-400.jpg 400w, ../images/home-ex-1805-1-600.jpg 600w, ../images/home-ex-1805-1-900.jpg 900w, ../images/home-ex-1805-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1805-1-600.jpg", :alt => "My coworkers and I group hug at a bar in San Francisco."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; APR
                        %p I'm such an animal lover. I was thrilled to get to play with all the animals that were the attraction for Spring Dinner this year.
                    %img{:srcset => "../images/home-ex-1804-4-400.jpg 400w, ../images/home-ex-1804-4-600.jpg 600w, ../images/home-ex-1804-4-900.jpg 900w, ../images/home-ex-1804-4-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-4-600.jpg", :alt => "I smile at the camera next to a donkey in a matching flower crown."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; APR
                        %p We've put together such a great crew for our lifestyle shoots. Now that we have it locked in, it makes the work so much easier (and fun).
                    %img{:srcset => "../images/home-ex-1804-3-400.jpg 400w, ../images/home-ex-1804-3-600.jpg 600w, ../images/home-ex-1804-3-900.jpg 900w, ../images/home-ex-1804-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-3-600.jpg", :alt => "The photoshoot crew stands together for a photo after the shoot."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; APR
                        %p It takes a village. Behind the scenes at one of our lifestyle shoots.
                    %img{:srcset => "../images/home-ex-1804-2-400.jpg 400w, ../images/home-ex-1804-2-600.jpg 600w, ../images/home-ex-1804-2-900.jpg 900w, ../images/home-ex-1804-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-2-600.jpg", :alt => "The view from behind the camera: talent waits in bed while lighting is adjusted."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; APR
                        %p The star of the show. We try to work with foster pups on set to help spead the word about animal adoption. 
                    %img{:srcset => "../images/home-ex-1804-1-400.jpg 400w, ../images/home-ex-1804-1-600.jpg 600w, ../images/home-ex-1804-1-900.jpg 900w, ../images/home-ex-1804-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-1-600.jpg", :alt => "A foster dog lays waiting for his time on camera."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2018 &mdash; FEB
                        %p I was honored to speak at Creative Mornings PHX on the topic of commitment. The photographer came to work to shoot some images for promoting the event. 
                    %img{:srcset => "../images/home-ex-1802-400.jpg 400w, ../images/home-ex-1802-600.jpg 600w, ../images/home-ex-1802-900.jpg 900w, ../images/home-ex-1802-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1802-600.jpg", :alt => "I ride a bike around the T&amp;N office."}
        %footer
            = link_to 'View all', 'all-experiences', :class => "button-tertiary"

    %section.thanks
        %hr
        %h2.s2 Thanks for visiting.

